<mat-card class="">
  <mat-card-header>
    <mat-card-title>User Profile Information</mat-card-title>
    <mat-card-subtitle
      >{{ profile.givenName }} {{ profile.surname }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <p><strong>First Name: </strong> {{ profile.givenName }}</p>
    <p><strong>Last Name: </strong> {{ profile.surname }}</p>
    <p><strong>Email: </strong> {{ profile.userPrincipalName }}</p>
    <p><strong>Id: </strong> {{ profile.id }}</p>
    <p><strong>Roles: </strong> {{ profile.roles.join(", ") }}</p>
  </mat-card-content>
</mat-card>
